
.dashboard-container {
  display: grid;
  grid-template-rows:
      minmax(100px, max-content) repeat(auto-fill, 200px) 20%;
  justify-content: center;
  font-family: Roboto, sans-serif;
  background-color: #dce2fc;
}

/* dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  border-color: #7894ff;
  border-width: 6px;
}
*/

.welcome-box {
  display: flex;
  height: 150px;
  width: 300px;
  padding: 12px;
  flex-direction: row;
  margin-right: 400px;
  align-self: center;
  font-family: 'DM Sans', sans-serif;
  font-size: x-large;
  font-weight: 900;
  color:#7894ff;
  border-radius: 25px;
  background-color: #FFF;
}

.employee-satisfaction-box {
  height: 150px;
  width: 750px;
  background-color: #FFF;
  border-radius: 25px;
}

.mental-health-box{
  height: 560px;
  width: 420px;
  border-color: #7894ff;
  background-color: #FFF;
  border-radius: 25px;
  }

.employee-engagement-box {
  height: 260px;
  width: 305px;
  border-color: #7894ff;
  background-color: #FFF;
  border-radius: 25px;
}

.dei-box {
  height: 260px;
  width: 305px;
  border-color: #7894ff;
  background-color: #FFF;
  border-radius: 25px;
}

.employee-experience-box {
  height: 260px;
  width: 305px;
  border-color: #7894ff;
  background-color: #FFF;
  border-radius: 25px;
}

.benefits-box {
  height: 260px;
  width: 305px;
  border-color: #7894ff;
  background-color: #FFF;
  border-radius: 25px;
}
