
.dashboard-page{
    display: flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    border-color: #7894FF;
    border-radius: 12px;
    border-width: 12px;
}

.dashboard-greeting {
    display: flex;
    width: 300px;
    height: 150px;
    border-color: #7894FF;
    border-width: 6px;
}

.dashboard--title{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    margin: auto;
    margin-left: -420px;
    align-self: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
}

.dashboard {
    display: flex;
    align-items: center;
    height: 200px;
    width: 400px;
    border-color: #7894FF;
    border-width: 6px;
}

.industry-scales{
    border-color: #7894FF;
    border-width: 6px;
}

.employee-data{
    border-color: #7894FF;
    border-width: 6px;
}