.page {
    display: flex;
}

.login-box {
    display: flex;
    height: 500px;
    width: 500px;
    border-color: #466fb4;
    border-radius: 25px;
    border-width: thin;
}

.input {
    height: 50px;
    width: 150px;
    border-color: #466fb4;
    border-radius: 25px;
    border-width: thin;
}

.button {
    background-color: #7894ff;
    color: #ffffff;
    border-radius: 50px;
}